## #################################################
## Add subject attributes
## #################################################
#set( $dtFormat = "dd-MMM-yyyy" )
#set( $delim = "[|]" )
#if( !$upload )
  #stop
#end
## #################################################
## Header structure supported:
##
## Variant 1: USUBJID|PARAMETER|VALUE
## Variant 2: STUDY|SITE|SUBJECTID|ATTR|ATTRVAL
## #################################################
#set( $lines = $upload.readLines( $delim ) )
start processing upload $upload.getUploadid() $upload.getUploaded()
#set( $dummy = $db.addUploadMessage( $upload, "INFO", "Upload ${template.getTemplatename()} initiated by user $user.username. ${lines.size()} lines read." ) )
${lines.size()} lines read
#set( $dummy = $db.addUploadMessage( $upload, "INFO", "${lines.size()} lines read." ) )
## #################################################
## Detect header
## #################################################
#set( $idxUSUBJID = $upload.getColumnIndex( "USUBJID" ) )
#set( $idxSITE = $upload.getColumnIndex( "SITE" ) )
#set( $idxATTR = 1 )
#set( $idxATTRVAL = 2 )
#if( $idxUSUBJID >= 0 )
  #set( $dummy = $db.addUploadMessage( $upload, "INFO", 1, "USUBJID column present. Aussuming header structure USUBJID,PARAMETER,VALUE." ) )
  #set( $mandatoryCols = 3 )
#elseif( $idxSITE > 0 )
  #set( $dummy = $db.addUploadMessage( $upload, "INFO", 1, "SITE column present. Assuming header structure STUDY,SITE,SUBJECTID,ATTR,ATTRVAL." ) )
  #set( $mandatoryCols = 5 )
  #set( $idxATTR = 3 )
  #set( $idxATTRVAL = 4 )
#end
## #################################################
## Iterate through lines
## #################################################
#foreach( $line in $lines )
  #set( $columns = $line.split( $delim ) )
## #################################################
## Skip if too few columns
## #################################################
  #if( $columns.size() < $mandatoryCols )
    #set( $dummy = $db.addUploadMessage( $upload, "ERROR", $velocityCount, "Columns expected ${mandatoryCols}, read ${columns.size()}." ) )
## #################################################
## Skip header line or sample id is not populated
## #################################################
  #elseif( $velocityCount <= 1 ) 
    #set( $dummy = $db.addUploadMessage( $upload, "INFO", $velocityCount, "Header line skipped." ) )
  #else
    #set( $subject = $db.findSubjectByUniqueId( "XXXXXX" ) )
    #if( $idxUSUBJID >= 0 )
## #################################################
## Process Content variant 1
## #################################################
      #set( $subjectId = $strings.trimToEmpty( ${columns.get($idxUSUBJID)} ) )
      #if( ${subjectId.length()} <= 0 )
        #set( $dummy = $db.addUploadMessage( $upload, "ERROR", $velocityCount, "USUBJID column is empty. Line ignored." ) )
      #else
## #################################################
## Search subject by USUBJID
## #################################################
        #set( $subject = $db.findSubjectByUniqueId( "$subjectId" ) )
      #end
    #elseif( $idxSITE > 0 )
## #################################################
## Process Content variant 2
## #################################################
      #set( $studyName = ${columns.get(0)} )
      #set( $studyName = $strings.trimToEmpty( $studyName ) )
      #set( $studyName = $studies.formatName( "$studyName" ) )
      #set( $study = $db.findStudyByName( "XXXXXXXXXXX" ) )
      #if( ${studyName.length()} <= 0 )
        #set( $dummy = $db.addUploadMessage( $upload, "ERROR", $velocityCount, "Study name is empty. Line ignored." ) )
      #else
## #################################################
## Create study if needed
## #################################################
        #set( $study = $db.findStudyByName( "$studyName" ) )
        #if( !$study )
          #set( $study = $db.createStudy( "$studyName" ) )
          #set( $dummy = $db.addUploadMessage( $upload, "WARN", $velocityCount, "Study created: ${study.getStudyname()}." ) )
        #end
      #end
      #set( $siteName = ${columns.get($idxSITE)} )
      #set( $siteName = $strings.trimToEmpty( $siteName ) )
      #if( ${siteName.length()} <= 0 )
        #set( $dummy = $db.addUploadMessage( $upload, "ERROR", $velocityCount, "Site is missing. It will be ignored." ) )
      #else
## #################################################
## Create site entry if needed
## #################################################
        #set( $site = $db.findOrganizationByName( "${study.getStudyname()} study site $siteName" ) )
        #if( !$site )
          #set( $site = $db.createOrganization( "${study.getStudyname()} study site $siteName", "clinical site" ) )
          $!site.setSiteid( "$siteName" )
          #set( $site = $db.storeOrganization( $site ) )
          #set( $dummy = $db.addUploadMessage( $upload, "WARN", $velocityCount, "An organization has been created: ${site.getOrgname()}." ) )
        #end
      #end
      #set( $subjectId = ${columns.get(2)} )
      #set( $subjectId = $strings.trimToEmpty( $subjectId ) )
      #if( ${subjectId.length()} <= 0 )
        #set( $dummy = $db.addUploadMessage( $upload, "ERROR", $velocityCount, "Subject id is missing. Line ignored." ) )
      #else
## #################################################
## Search subject by SITE-SUBJECT
## #################################################
        #set( $subjectId = $subjects.formatSubjectId( "$siteName", "$subjectId", "%{site:????}-%{subject:????}" ) )
        #if( $study )
          #set( $subject = $db.findSubjectByName( $study, "$subjectId" ) )
        #end
      #end
    #end
    #if( $subject )
      #set( $attrName = $strings.trimToEmpty( ${columns.get($idxATTR)} ) )
      #set( $attrVal = ${columns.get( $idxATTRVAL )} )
      #set( $attrVal = $strings.trimToEmpty( $attrVal ) )
      #if( ${attrName.length()} <= 0 )
        #set( $dummy = $db.addUploadMessage( $upload, "ERROR", $velocityCount, "Property name is missing. Line ignored." ) )
      #elseif( ${attrVal.length()} <= 0 )
        #set( $dummy = $db.addUploadMessage( $upload, "WARN", $velocityCount, "Subject $subject content of $attrName is missing. Line ignored." ) )
      #else
## #################################################
## Set subject attribute
## #################################################
        #if( $attrName == "Risk factors" )
	  #set( $riskTokens = $attrVal.split( "[:]" ) )
          #if( $riskTokens.size() > 1 )
            #set( $substance = ${strings.replace( "${riskTokens.get(0)}", "/", " " ).trim()} )
            #set( $substance = $words.capitalizeFully( "$substance" ) )
            #set( $dummy = $upload.printInfo( "=== substance: $substance" ) )
            #set( $substqual = ${riskTokens.get(1).split( " " )} )
            #if( $substqual.size() >= 1 )
              #set( $attrVal = "" )
              #foreach( $qual in $substqual )
                #set( $attrVal = "$attrVal ${words.capitalizeFully($qual.trim())}" )
              #end
              #set( $attrVal = "$substance $attrVal.trim()" )
              #set( $concatVal = $upload.concatEntry( "riskFactors", "$subject.getDonorid()", $attrVal ) ) 
            #end
          #end
        #elseif( $attrName == "Race" )
          #set( $attrVal = $words.capitalizeFully( $attrVal ) )
          $!subject.setEthnicity( "$attrVal" )
        #elseif( $attrName == "Country of enrollment" )
## #################################################
## Setup country info
## #################################################
          #set( $countryName = "${attrVal.toUpperCase()}" )
          #set( $countryId = 0 )
          #if( ${countryName.length()} > 0 )
            #set( $countries = $db.findCountryByName( "$countryName" ) )
            #if( ${countries.size()} > 1 )
              #set( $dummy = $db.addUploadMessage( $upload, "WARN", $velocityCount, "Multiple countries matching $countryName" ) )
            #elseif( ${countries.size()} <= 0 )
              #set( $dummy = $db.addUploadMessage( $upload, "WARN", $velocityCount, "No country found matching $countryName" ) )
            #else
              #set( $country = ${countries.get(0)} )
              #set( $countryId = ${country.getId()} )
              #set( $dummy = $db.addUploadMessage( $upload, "INFO", $velocityCount, "Using country id: $countryId ($country)" ) )
            #end
          #end
          #if( $site )
            $!site.setCountryid( $countryId )
            #set( $site = $db.storeOrganization( $site ) )
            #set( $dummy = $db.addUploadMessage( $upload, "INFO", $velocityCount, "An organization has been updated: ${site.getOrgname()}." ) )
          #else
            $!subject.setAttribute( "$attrName", "$attrVal" ) 
          #end
        #elseif( $attrName == "Clinical Diagnosis" )
          #set( $attrVal = $words.capitalizeFully( $attrVal ) )
          $!subject.setAttribute( "$attrName", "$attrVal" )
        #else
          $!subject.setAttribute( "$attrName", "$attrVal" )
        #end
## #################################################
## Store subject properties
## #################################################
        #set( $subject = $db.storeSubject( ${user.getUserid()}, $subject ) )
        #set( $dummy = $db.addUploadMessage( $upload, "INFO", $velocityCount, "Subject ${subject} property $attrName updated." ) )
      #end
    #end
  #end
#end
## #################################################
## Store subjects risk factors
## #################################################
#set( $riskFactors = $upload.getKeys( "riskFactors" ) )
#foreach( $risk in $riskFactors )
  #set( $donorId = $convert.toNumber( $risk ) )
  #set( $subject = $db.findSubjectById( $donorId.longValue() ) )
  #set( $dummy = $upload.printInfo( "===== subject: $subject" ) )
  #if( $subject )
    #set( $riskValue = $upload.getValue( "riskFactors", $risk ) )
    #set( $dummy = $upload.printInfo( "======= risks: $riskValue" ) )
    $!subject.setAttribute( "Risk Factors", "$riskValue" )
    #set( $subject = $db.storeSubject( ${user.getUserid()}, $subject ) )
    #set( $dummy = $db.addUploadMessage( $upload, "INFO", $velocityCount, "Subject ${subject} risk factors updated." ) )
  #else
    #set( $dummy = $db.addUploadMessage( $upload, "ERROR", $velocityCount, "Cannot find subject donorId: $risk." ) )
  #end
#end
